*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-noite: #57606F;
    --cor-manha: #FDCB6E;
    --cor-tarde: #F8C291;
    --cor-madrugada: #0A3D62;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem;
}

#header {
    color: white;
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding: 2rem;
    min-width: 25rem;
    max-width: 75rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 20px 5px black;
}

#text {
    margin: auto;
    text-align: center;
    width: fit-content;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    font-size: clamp(1.9rem, 5vw, 3rem);
}

#image {
    width: 100%;
    margin: auto;
    max-width: 30rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(imagens/madrugada.jpg);
}